body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #831010;
    color: white;
    padding: 15px;
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
  
.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
}
  
.search-bar button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
  
main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
  
.mainMovieContainer , .mainBookContainer{
    width: 45%;
    height: 450px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainMovieContainer  > img, .mainBookContainer > img {
    min-height: 250px;
    max-height: 250px;
    width: auto;
    margin-bottom: 20px;
} 
.container h2 {
    margin-top: 0;
}
  
.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
.container p {
    flex-grow: 1;
    text-align: center;
}
  
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: auto;
}