:root {
    --feature: #C2405C;
    --white: #FFFFFF;
    --black: #232323;
    --grey: #787878;
}

main {
    display: flex;
    justify-content: center;
}

header {
    background-color: var(--feature);
}

header > h1 {
    color: white;
}

h1 {
    color: var(--black);
    font: font-serif;
}

.search-bar input {
    border: var(--black) 1px solid;
}

.search-bar input button {
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.mainMovieContainer  > img, .mainBookContainer > img {
    min-height: 20rem;
    max-height: 20rem;
    width: auto;
    margin-bottom: 20px;
    display: inline-flex;
} 

.hovee-blue:hover {
    background-color: #20205b; 
    color: white;
}

.hover-green:hover {
    background-color: #1e441f;  
    color: white;
}

@media only screen and (max-width: 1080px) and (orientation: landscape) {

    #moreItemCard {
        height: 40vh;
    }

    #moreItemCard > div > img {
        width: 90%;
        margin-left: 5%;
    }

    #moreItemCard > div {
        justify-items: center;
        height: 100% !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1080px) {
function loadSearchHistory() {
    let history = JSON.parse(localStorage.getItem('search-history')) || [];
    let searchHistoryList = $('#search-history');
    searchHistoryList.empty();
    history.forEach(item => {
        let button = $('<button>')
            .text(item)
            .addClass('history-button bg-transparent hover:bg-[#232323] text-[#232323] font-semibold hover:text-white py-2 px-4 border border-[#C2405C] hover:border-transparent rounded lg:h-20 lg:text-sm lg:overflow-y-auto')
            .on('click', function() {
                searchItem.val(item);
                searchButton.click();
            });
        let searchedItem = $('<div>').addClass('mr-1 ml-1 items-center').append(button);
        searchHistoryList.append(searchedItem);
    });
}
    .mainMovieContainer  > img, .mainBookContainer > img {
        min-height: 30rem;
        max-height: 30rem;
        width: auto;
        margin-bottom: 20px;
        display: inline-flex;
    } 

    .subContainer { 
        display: inline-flex;
        justify-content: space-between;
    }

    #moreItemCard {
        flex-direction: column;
        width: 23%;
        height: auto;
        max-height: 35vh;
        overflow-y: hidden;
    }

    #moreItemCard > #moreItemImageContainer {
        width: 100%;
        min-height: 13rem;
        height: auto !important;
        overflow-y: hidden;
    }

    #moreItemCard > img {
        width: 100%;
    }

    .itemDescription {
        min-height: 2rem;
        max-height: 2rem;
    }
}

#masterContainer {
    align-items: start;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.history-button {
    text-transform: capitalize;
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}