:root {
    --feature: #C2405C;
    --white: #FFFFFF;
    --black: #232323;
    --grey: #787878;
}

main {
    display: flex;
    justify-content: center;
}

header {
    background-color: var(--feature);
}

h1 {
    color: var(--white);
}

.search-bar input {
    border: var(--black) 1px solid;
}

.search-bar input button {
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.booksPane , .moviesPane {
    min-height: 20vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#masterContainer {
    align-items: start;
}

.mainMovieContainer , .mainBookContainer {
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainMovieContainer  > img, .mainBookContainer > img {
    min-height: 500px;
    max-height: 500px;
    width: auto;
    margin-bottom: 20px;
} 

@media only screen and (max-width: 767px) {
   
    .mainMovieContainer > img, .mainBookContainer > img {
        min-height: Auto;
        max-height: Auto;
        margin-bottom: 10px;
    }

    .mainMovieContainer , .mainBookContainer {
        width: 100%;
        height: 50vh;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    /* .subContainer {
        flex-direction: column;
        height: auto;
        padding-top: 2vh;
    }
    #moreItemCard {
        width: 100%;
        margin-bottom: 20px;
    } */
}

#moreItemCard > img {
    min-height: 150px;
    max-height: 150px;
    width: auto;
    margin-bottom: 8px;
}

.subContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30%;
    padding-top: 5vh;
    justify-content: space-between;
}

#moreItemCard {
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.moreItemHeading {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreItemYear {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreItemImage {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreItemDescription {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreItemImage img {
    height: 100%;
    width: auto;
}
